*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Segoe UI",sans-serif;

    background:#f3f2f1;

    color:#252423;

}

.container{

    max-width:850px;

    margin:40px auto;

    padding:25px;

}

.header{

    text-align:center;

    margin-bottom:40px;

}

.logo{

    width:90px;

    margin-bottom:20px;

}

.header h1{

    font-size:34px;

    font-weight:600;

    margin-bottom:10px;

}

.header p{

    color:#605e5c;

    font-size:17px;

}

.cards{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.card{

    display:flex;

    align-items:center;

    background:white;

    border-radius:14px;

    padding:22px;

    cursor:pointer;

    transition:.25s;

    border:1px solid #edebe9;

    box-shadow:0 2px 8px rgba(0,0,0,.05);

}

.card:hover{

    transform:translateY(-3px);

    border-color:#6264A7;

    box-shadow:0 10px 24px rgba(98,100,167,.20);

}

.icon{

    font-size:40px;

    margin-right:24px;

}

.content h2{

    font-size:22px;

    margin-bottom:6px;

    color:#323130;

}

.content p{

    color:#605e5c;

    font-size:15px;

}